run = "R -s -f main.R"

hidden = [".config", ".Rprofile", "Rconfig.json", "Rconfig.lock.json"]

[env]
R_LIBS_USER = "$REPL_HOME/.config/R"

[nix]
channel = "stable-22_11"

[packager]
language = "rlang"

[packager.features]
packageSearch = true

[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".Rprofile"]

[deployment]
run = ["sh", "-c", "R -s -f main.R"]

